# Port on which the API will listen
PORT=8080
# A random string to hash the cookies and secure them
COOKIE_SECRET=

# The secrets used to generate tokens (use crypto module for this)
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Number of seconds before an access token expires
ACCESS_TOKEN_EXPIRATION=600

# Number of days before a refresh token expires
REFRESH_TOKEN_EXPIRATION=

# Environment : development / production
NODE_ENV=production

# Folder where logs will be produced
LOGS=./logs