# Port on which the API will listen
BACK_PORT=8080
# Port of the Vite server (development)
FRONT_PORT=5173
# Path where the client was built (production)
FRONT_BUILD_PATH=client/build

# A random string to hash the cookies and secure them
COOKIE_SECRET=

# The secrets used to generate tokens (use crypto module for this)
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Number of seconds before an access token expires
ACCESS_TOKEN_EXPIRATION=600

# Number of days before a refresh token expires
REFRESH_TOKEN_EXPIRATION=

# The secret used to generated codes for lectures (that pupils will scan)
CODES_SECRET=
# Number of seconds before a code expires
CODES_EXPIRATION=

# Environment : development / production
NODE_ENV=production

# Folder where logs will be produced
LOGS=./logs