html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
  }

h1{
    font-size: 30px;
    text-align: center;
    color: #777777;
}

body{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/backgrounds/amphi2026.png");
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    min-height: 100vh;
}

.wrap_login{
    width: 500px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 2vh 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 10vh;
}

.header_login{
    width: 100%;
}

.form_login{
    width: 100%;
    border-radius: 3px;
    margin: 15px 0;
}

input{
    background: #e6e6e6;
    border: #aaaaaa;
}

footer{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
}