.center_wrap {
    width: 60vh;
    min-width: auto;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 5vh 10px;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 10vh;
}

.mobile_center_wrap {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 5vh 10px;
    flex-direction: column;
    text-align: center;
    position: relative;
}
